In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

from sklearn import metrics

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense
from tensorflow.keras.utils import normalize
from keras.layers.advanced_activations import LeakyReLU

In [ ]:
composition = pd.read_csv('gdrive/My Drive/cofs/composition_features.csv')
structure = pd.read_csv('gdrive/My Drive/cofs/structural_features.csv')
properties = pd.read_csv('gdrive/My Drive/cofs/properties.csv')

In [ ]:
properties = properties.drop("Unnamed: 0", axis = 1)
structure = structure.drop("Unnamed: 0", axis = 1)

In [ ]:
properties.to_csv('gdrive/My Drive/cofs/properties.csv')

In [ ]:
properties.head()

,absoluteMethaneUptakeHighP_mol_kg_,deliverableCapacity_vSTP_v_,heatDesorptionHighP_kJ_mol_,CO2Qst_kJ_mol_
0,23.076498,179.615836,15.97766,-16.109667
1,27.624233,127.838063,9.32583,-13.759106
2,29.742485,119.016669,8.85691,-14.338564
3,33.747905,117.909108,8.84098,-12.775519
4,29.632996,126.083029,9.20892,-15.599998

In [ ]:
composition.head()

,NumC_A,NumN_A,NumO_A,NumF_A,NumCl_A,NumBr_A,NumB_A,NumSi_A,NumS_A,NumC_B,NumN_B,NumO_B,NumF_B,NumCl_B,NumBr_B,NumB_B,NumSi_B,net,linkerA_con,linkerB_con
0,12,0,2,0,0,4,0,0,0,25,0,0,0,0,4,0,0,pts,CH2,NH
1,12,0,2,0,0,4,0,0,0,6,2,4,0,0,2,0,0,qtz,CH2,NH
2,12,0,2,0,0,4,0,0,0,6,2,4,0,0,2,0,0,und,CH2,NH
3,12,0,2,0,0,4,0,0,0,6,4,0,0,0,2,0,0,unc,CH2,NH
4,12,0,2,0,0,4,0,0,0,6,0,4,0,0,2,0,0,qtz,CH2,NH

In [ ]:
categorical = composition[["net", "linkerA_con", "linkerB_con"]]
composition = composition.drop(["net", "linkerA_con", "linkerB_con"], axis = 1)

ohe = OneHotEncoder()
encoded_columns = ohe.fit_transform(categorical)

df = pd.DataFrame(encoded_columns.toarray())

composition = pd.concat([composition, df], axis = 1)

In [ ]:
composition.reset_index(drop=True, inplace=True)
structure.reset_index(drop=True, inplace=True)
combined_features = pd.concat([composition, structure], axis = 1)

In [ ]:
combined_features.head()

,NumC_A,NumN_A,NumO_A,NumF_A,NumCl_A,NumBr_A,NumB_A,NumSi_A,NumS_A,NumC_B,...,345,346,347,348,density_kg_m_3_,poreVolume_cm_3_g_,largestIncludedSphereDiameter_A_,largestFreeSphereDiameter_A_,largestIncludedSphereAlongFreeSpherePathDiameter_A_,voidFraction_widom_
0,12,0,2,0,0,4,0,0,0,25,...,0.0,0.0,0.0,1.0,428.773315,1.56524,8.95787,7.53243,8.95787,0.771182
1,12,0,2,0,0,4,0,0,0,6,...,0.0,0.0,0.0,1.0,229.003535,3.70653,16.67294,15.77792,16.67294,0.883632
2,12,0,2,0,0,4,0,0,0,6,...,0.0,0.0,0.0,1.0,198.302752,4.36176,21.06841,18.89020,21.04678,0.902575
3,12,0,2,0,0,4,0,0,0,6,...,0.0,0.0,0.0,1.0,173.875856,5.03756,23.03545,22.69387,23.03545,0.906997
4,12,0,2,0,0,4,0,0,0,6,...,0.0,0.0,0.0,1.0,209.972327,4.06587,17.44260,16.02206,17.44259,0.889819

In [ ]:
combined_features.to_csv("gdrive/My Drive/cofs/combined_features.csv")